/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Jost:wght@300;400&family=Open+Sans:wght@300;400;600;800&family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  font-size: 55.5%;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-1{
  width: 800px;
}
.container-1 h1{
  font-size: 25px;
  font-weight: 600;
}
i{
  font-size: 15px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
.right-header{
  display: flex;
}
.right-header li{
  list-style-type: none;
}
.right-header{
  color: white;
  visibility: hidden;
}
.header:hover .right-header{
  visibility: visible;
  color: gray;
}
.header:hover .right-header li a{
  color: gray;
}
/*.right-header li{
  display: flex;
  text-transform: none;
  color: white;
}
.right-header li:hover{
  visibility: visible;
  color: blue;
} */
/* .right-header{
  color: white;
}
.right-header:hover{
  color: gray;
}
.right-header a{
  color: white;
} */
/* .right-header a:hover{
  color: rgb(110, 106, 106);
} */
/* div:hover .right-header{
  color: lightgray;
  display: block;
} */
.right-header:hover{
  color: rgb(110, 106, 106);
}
.right-header a{
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
}
.right-header i{
  padding: 10px;
}
.header-1{
  width: 115px;
  color: yellow;
}

.header-1 a{
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
}
.header-1:hover{
  background-color: lightgray;
}
.app-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
table{
 /*  border-left: none;
  border-right: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-spacing: 0; */
  border-spacing: 0;
  height: 150px;
}
/* td{
  
} */
td{
  border: 1px solid black;
  border-spacing: 0;
  font-size: 15px;
  border-left: none;
  border-right: none;
  border-top: none;
}
.count{
  margin: auto;
  font-size: 12px;
}
.container{
  width: 600px;
  height: 100%;
  /* border: 2px solid red; */
  margin: 50px 0;
}
.continue-booking{
  height: inherit;
  align-items: center;
}
.continue-booking h1{
  color: rgb(255, 136, 0);
  font-weight: 600;
  font-size: 28px;
}
.continue-booking p{
  font-size: 12px;
  font-weight: 700;
}
.class-schedule{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.class-schedule h1{
  color: rgba(27, 3, 83, 0.952);
  font-size: 25px;
  font-weight: 600;
}
.class-schedule p{
  font-size: 15px;
  color: gray;
  font-weight: bold;
  /* align-items: center; */
  line-height: 25px;
}
.heading{
  display: flex;
  justify-content: space-between;
  padding: 0px 90px 0px 10px;
  background-color: rgba(7, 18, 121, 0.952);
  color: white;
  font-size: 15px;
  font-weight: 600;
  height: 45px;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}
.student-container{
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  padding: 15px 4px;
  font-size: 10px;
  line-height: 20px;
}
.btn{
  padding: 4px 17px;
  border-radius: 7px;
  border: none;
  background-color: rgb(255, 123, 0);
}
.continue-booking span{
  /* position: relative;
  left: 550px;
  bottom: 30px;
  font-size: 0px; */
  padding-left: 150px;
  font-size: 40px;
}

